<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Inflected objects/<%= @title %></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/inflected-main.css" type="text/css">
	</head>

    <body class="<%= @name %>">

        <div class="container">
            <div class="header">
                <h1 class="header-title">
                    <span class="deform">Inflected objects</span>
                </h1>
            </div>

            <div class="single-content">
                <%= @content %>
            </div>
        </div>

        <script src="js/bundle.js"></script>

	</body>
</html>
