<!doctype html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Inflected Objects/<%= @title %></title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" href="css/inflected-main.css" type="text/css">
	</head>

    <body>

        <div class="container">

            <div class="header">
                <h1 class="header-title">
                    <span class="deform">Inflected objects</span>
                </h1>
            </div>

            <div class="content">
                <ul class="items">
                <% if @videos %>
                    <% for @video in @videos %>
                        <li class="item item--video">
                            <div class="item-container">
                                <div class="item-content">
                                    <iframe width="560" 
                                        height="315"
                                        src="<%= @video[:embed] %>"
                                        frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                    <div class="item-caption"><%= @video[:caption] %></div>
                                </div>
                            </div>
                        </li>
                    <% end %>
                <% end %>
            </div>
        </div>

        <script src="js/bundle.js"></script>

	</body>
</html>
