@import 'vars';
@import 'sections';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background: transparent;
    font-family: $main-font;
}

a {
    text-decoration: none;
    color: $text-colour;
}

body:not(.root) {
    font-family: $secondary-font;
    margin-top: 5em;

    p {
        max-width: 650px;
        margin: 0 auto 1em auto;
        font-size: 2em;
    }

}



.header {
    margin-bottom: 5px;
}

.header-title {
    font-size: 5em;
    line-height: 2;
    margin-left: -8px;
    letter-spacing: 0.5px;
    width: 100%;
    overflow: hidden;

    .deform {
        display: block;
        transform: scaleY(1.5) skewX(45deg);
    }
}






.navigation-list {
    max-width: 900px;
    counter-reset: num;
}

.navigation-item {
    position: relative;
    width: 100%;
    overflow: hidden;

    &:before {
        content: counter(num);
        counter-increment: num;
        font-family: $highlight-font;
        font-size: 2.2em;
        display: inline-block;
        transform: skew(-45deg/2);
        left: 50px;
        margin-top: -2px;
        position: absolute;
    }
}


.release-second {
    display: block;
    margin-left: 30px;
    margin-top: -.25em;
    margin-bottom: -.25em;
}

.release-third {
    margin-left: 120px;
}


.navigation-item--performance,
.navigation-item--circulation,
.navigation-item--autonomy {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.navigation-link {
    font-size: 1.6em;
    text-transform: capitalize;
    margin-left: 145px;
    line-height: 1.5;

    .deform {
        display: inline-block;
        transform: scaleY(1.4) skewX(-43deg);
        letter-spacing: 1px;
    }
}

.navigation-subpages {
    display: none;
    counter-reset: subnum;

    &.navigation-subpages--show {
        display: block;
        margin: 1em 0 2em;
    }
}

.navigation-item--artists .navigation-subpages--show {
    margin-top: 2.5em;
}

.navigation-subpage-item {
    &:before {
        content: counter(num) ' .' counter(subnum);
        counter-increment: subnum;
        font-family: $highlight-font;
        font-size: 3.2em;
        display: inline-block;
        transform: skew(-45deg/2);
        left: 142px;
        margin-top: -4px;
        position: absolute;
    }

    .navigation-item--artists &:before {
        content: '';
    }
}

.navigation-subpage-link {
    font-size: 3em;
    letter-spacing: 2px;
    max-width: 60%;
    padding-left: 20%;
    display: inline-block;
    line-height: 1;

    .deform {
        transform: scaleX(.7) skewX(-45deg);
        display: inline-block;
    }

    .navigation-item--artists & {
        transform: translateX(-10%) scaleX(.7) skewX(45deg);
        padding: 0;
    }

}

.navigation-item--isr {
    .navigation-text {
        display: inline-block;
        transform: scaleY(1.4) skewX(-43deg);
        margin-right: .5em;
    }

    img {
        line-height: 0;
        height: 20px;
    }
}



.content {
    position: relative;
    width: 60%;
    z-index: 1;
}

.section {
    position: relative;
    z-index: 1;
}

.modal-section {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.modal-bg {
    z-index: 2;
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent url('./fog.png');
    background-size: 100%;
    opacity: 0.75;

    &:before {
        content: '';
        z-index: 2;
        position: absolute;
        top: 10%;
        bottom: 0;
        right: 0;
        left: 0;
        display: block;

        background: transparent url('./fog.png');
        background-size: 100%;

        -webkit-animation-duration: 2s;
        -webkit-animation-name: breathe;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: ease-in-out;

        -ms-animation-duration: 2s;
        -ms-animation-name: breathe;
        -ms-animation-iteration-count: infinite;
        -ms-animation-direction: alternate;
        -ms-animation-timing-function: ease-in-out;

        animation-duration: 2s;
        animation-name: breathe;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
}

.section-frame {
    z-index: 3;
    position: absolute;
    height: 75%;
    width: 60%;
    top: 15%;
    right: 20%;
    bottom: 0;
    left: 20%;
}


@-webkit-keyframes breathe {
  from {
      transform: scale(1,1) rotateZ(0);
  }

  to {
      transform: scale(1.2,1.2) rotateZ(2.5deg);
  }
}


.images {
    list-style: none;
}

.images{
    img {
        max-width: 50%;
        max-height: 50%;
        position: absolute;
        top: random(20) * 1%;
        left: random(50) * 1%;
    }

    li:last-child img {
        top: random(30) * 1%;
        left: random(60) * 1%;
    }

}
