@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
            transform: translate(-0.5%, 0.5%) rotate(-0.25deg); }
  33% {
    -webkit-transform: translate(-1%, 1%) rotate(0.25deg);
            transform: translate(-1%, 1%) rotate(0.25deg); }
  66% {
    -webkit-transform: translate(0%, -1%) rotate(-0.5deg);
            transform: translate(0%, -1%) rotate(-0.5deg); }
  100% {
    -webkit-transform: translate(-0.5%, -1%) rotate(0.5deg);
            transform: translate(-0.5%, -1%) rotate(0.5deg); } }

@keyframes wobble {
  0% {
    -webkit-transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
            transform: translate(-0.5%, 0.5%) rotate(-0.25deg); }
  33% {
    -webkit-transform: translate(-1%, 1%) rotate(0.25deg);
            transform: translate(-1%, 1%) rotate(0.25deg); }
  66% {
    -webkit-transform: translate(0%, -1%) rotate(-0.5deg);
            transform: translate(0%, -1%) rotate(-0.5deg); }
  100% {
    -webkit-transform: translate(-0.5%, -1%) rotate(0.5deg);
            transform: translate(-0.5%, -1%) rotate(0.5deg); } }

@-webkit-keyframes site-wobble {
  0% {
    -webkit-transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
            transform: translate(-0.5%, 0.5%) rotate(-0.25deg); }
  33% {
    -webkit-transform: translate(1%, 1%) rotate(0.25deg);
            transform: translate(1%, 1%) rotate(0.25deg); }
  66% {
    -webkit-transform: translate(0%, -1%) rotate(-0.5deg);
            transform: translate(0%, -1%) rotate(-0.5deg); }
  100% {
    -webkit-transform: translate(0.5%, -1%) rotate(0.5deg);
            transform: translate(0.5%, -1%) rotate(0.5deg); } }

@keyframes site-wobble {
  0% {
    -webkit-transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
            transform: translate(-0.5%, 0.5%) rotate(-0.25deg); }
  33% {
    -webkit-transform: translate(1%, 1%) rotate(0.25deg);
            transform: translate(1%, 1%) rotate(0.25deg); }
  66% {
    -webkit-transform: translate(0%, -1%) rotate(-0.5deg);
            transform: translate(0%, -1%) rotate(-0.5deg); }
  100% {
    -webkit-transform: translate(0.5%, -1%) rotate(0.5deg);
            transform: translate(0.5%, -1%) rotate(0.5deg); } }

@-webkit-keyframes test {
  0% {
    -webkit-transform: rotateZ(5deg) scale(1.3, 1.25);
            transform: rotateZ(5deg) scale(1.3, 1.25); }
  33% {
    -webkit-transform: rotateZ(0deg) scale(1.3, 1.15);
            transform: rotateZ(0deg) scale(1.3, 1.15); }
  100% {
    -webkit-transform: rotateZ(0deg) scale(1, 1.5);
            transform: rotateZ(0deg) scale(1, 1.5); } }

@keyframes test {
  0% {
    -webkit-transform: rotateZ(5deg) scale(1.3, 1.25);
            transform: rotateZ(5deg) scale(1.3, 1.25); }
  33% {
    -webkit-transform: rotateZ(0deg) scale(1.3, 1.15);
            transform: rotateZ(0deg) scale(1.3, 1.15); }
  100% {
    -webkit-transform: rotateZ(0deg) scale(1, 1.5);
            transform: rotateZ(0deg) scale(1, 1.5); } }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  list-style: none; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  background: lightgrey;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  padding-bottom: 2em; }
  @media (max-width: 480px) {
    body {
      max-width: 479px; } }

a {
  text-decoration: none;
  color: #000; }

.container {
  min-height: 100%;
  background: #fff; }
  @media (min-width: 480px) {
    .container {
      -webkit-animation: site-wobble 26.25s cubic-bezier(0, 0, 0.21, 1) infinite alternate;
      animation: site-wobble 26.25s cubic-bezier(0, 0, 0.21, 1) infinite alternate; } }

.header {
  margin-bottom: 5px; }
  .is--framed .header {
    display: none; }

.header-title {
  font-size: 4em;
  font-size: 6.5vw;
  letter-spacing: 0.5px;
  display: table;
  white-space: nowrap; }
  .header-title .deform {
    display: block;
    -webkit-transform: scaleY(1.5) skewX(45deg);
        -ms-transform: scaleY(1.5) skewX(45deg);
            transform: scaleY(1.5) skewX(45deg); }

.footer {
  padding: 3em 1em 1em 1em; }
  @media (min-width: 480px) {
    .footer {
      position: absolute;
      bottom: 1em;
      left: 50px;
      margin: 0; } }
  .footer .footer-text {
    font-family: "ITC Century Std", Helvetica;
    display: inline-block;
    text-transform: none;
    margin-right: .5em; }
  .footer img {
    line-height: 0;
    height: 20px; }

.navigation {
  padding-bottom: 10em; }
  .navigation a:hover {
    color: red; }

.navigation-item {
  position: relative;
  display: table;
  z-index: 2;
  white-space: nowrap; }

.navigation-item .navigation-link,
.navigation-item .subnavigation-link {
  display: inline-block;
  -webkit-animation: wobble 1.75s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 1.75s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:first-child .navigation-link {
  -webkit-animation: wobble 3.0625s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 3.0625s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:last-child .navigation-link {
  -webkit-animation: wobble 3.9375s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 3.9375s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:nth-child(2n) .navigation-link {
  -webkit-animation: wobble 3.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 3.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:nth-child(3n) .navigation-link {
  -webkit-animation: wobble 4.375s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 4.375s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:nth-child(4) .navigation-link {
  -webkit-animation: wobble 2.8875s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 2.8875s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-link {
  font-size: 1.2em;
  font-size: 3.75vw;
  margin-left: 3vw;
  line-height: 3; }
  .navigation-link .deform {
    display: inline-block;
    -webkit-transform: scaleY(1.4) skewX(45deg);
        -ms-transform: scaleY(1.4) skewX(45deg);
            transform: scaleY(1.4) skewX(45deg);
    letter-spacing: 1px; }
  @media (min-width: 480px) {
    .navigation-link {
      font-size: 2.5vw;
      line-height: 4vw; } }

.subnavigation {
  display: inline; }
  .navigation-item--exhibition .subnavigation {
    display: block;
    max-height: 27.5vw;
    -webkit-transition: max-height 400ms cubic-bezier(0, 0, 0.21, 1);
            transition: max-height 400ms cubic-bezier(0, 0, 0.21, 1);
    overflow: hidden; }
  .navigation-item--closed .subnavigation {
    max-height: 0; }

.subnavigation-item {
  display: inline-block;
  font-family: "Snell Roundhand", Zapfino;
  margin-left: 1vw; }
  .navigation-item--exhibition .subnavigation-item {
    display: block;
    margin-left: 15vw;
    font-family: Helvetica, Arial, sans-serif; }

.subnavigation-link {
  font-size: 3vw;
  letter-spacing: 1px; }
  .subnavigation-link .deform {
    display: inline-block; }
  .navigation-item--exhibition .subnavigation-link {
    font-size: 2.5vw;
    padding-bottom: .75vw; }
    .navigation-item--exhibition .subnavigation-link .deform {
      -webkit-transform: scaleY(1.4) skewX(45deg);
          -ms-transform: scaleY(1.4) skewX(45deg);
              transform: scaleY(1.4) skewX(45deg); }

.content-text {
  bottom: 0;
  font-size: 5vw;
  padding: 1em;
  font-family: "ITC Century Std", Helvetica; }
  .content-text a {
    text-decoration: underline; }
  .content-text p, .content-text br {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    margin-bottom: 2em; }
  @media (min-width: 480px) {
    .content-text {
      width: 50vh;
      height: 60vh;
      color: white;
      background: black;
      position: absolute;
      font-size: 1.5vw;
      overflow: scroll;
      padding: 2em; }
      .content-text a {
        color: white; } }

@media (min-width: 480px) {
  .items {
    width: 90vw;
    height: 90vh;
    margin: 5vh 5vw;
    overflow: hidden; } }

.item {
  margin-top: 2em; }

.item-content img {
  display: block;
  width: 100%;
  margin: 2em auto 0 auto; }

@media (min-width: 480px) {
  .item-content {
    background: black;
    width: 100%;
    margin: 0 auto; }
    .item-content img {
      width: auto;
      height: 90vh;
      margin-top: 0; }
    .item--show .item-content img {
      position: static; } }

.item--audio .item-content {
  text-align: center;
  height: 90vh;
  line-height: 90vh;
  background: black;
  position: relative; }

.item--audio .item-caption {
  line-height: 1;
  margin-bottom: 1vw; }

.item--video iframe {
  position: relative;
  z-index: 0;
  width: 100%; }

@media (min-width: 480px) {
  .item--video .item-container {
    position: absolute; }
  .item--video iframe {
    position: relative;
    z-index: 0;
    width: 90vw;
    height: 90vh; }
  .item--video.item--active .item-container:after {
    content: none; } }

.item--text .item-container {
  background: black;
  color: white;
  font-family: "ITC Century Std", Helvetica;
  font-size: 6vw; }
  @media (min-width: 480px) {
    .item--text .item-container {
      width: 40vw;
      font-size: 2vw;
      overflow: hidden; }
      .item--text .item-container p {
        -webkit-transform: translateZ(0);
                transform: translateZ(0); } }

.item--text .item-content {
  width: auto;
  height: 100%; }
  @media (min-width: 480px) {
    .item--text .item-content {
      overflow-y: scroll; } }

.item--text p {
  margin: 1em; }

.item-caption {
  font-size: 2vw;
  letter-spacing: -0.5px;
  color: yellow;
  position: absolute;
  bottom: 0;
  text-align: justify;
  -moz-text-align-last: justify;
       text-align-last: justify; }
  .item-caption strong {
    color: red; }
  .item-caption:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px; }

.carousel {
  position: relative; }

.carousel-image {
  position: relative; }
  @media (min-width: 480px) {
    .carousel-image {
      background: black;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      text-align: center; }
      .carousel-image.carousel--active {
        display: block; } }

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0; }

.modal-frame {
  width: 100%;
  height: 100%; }

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent; }

.modal-content {
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0, 0, 0, 1);
          transition: transform 350ms cubic-bezier(0, 0, 0, 1);
  overflow-y: scroll; }
  .modal-content.transition-in {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .modal-content.transition-out {
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 1, 0.75);
            transition-timing-function: cubic-bezier(0.5, 0, 1, 0.75); }

.instagram {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 25%;
  pointer-events: none; }

.instagram-photo {
  height: 25vh; }

.photo--in .instagram-image {
  -webkit-transform: translateY(25vh);
      -ms-transform: translateY(25vh);
          transform: translateY(25vh); }

.photo--in .instagram-caption {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  opacity: 1; }

.photo--out .instagram-image {
  -webkit-transition-delay: 105.26316ms;
          transition-delay: 105.26316ms;
  -webkit-transform: translateY(155vh);
      -ms-transform: translateY(155vh);
          transform: translateY(155vh); }

.photo--out .instagram-caption {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  opacity: 0; }

.photo--no-transition .instagram-image, .photo--no-transition .instagram-caption {
  -webkit-transition: none;
          transition: none; }

.instagram-image {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.21, 1);
          transition: transform 300ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
          transform: translateY(-100vh); }

.instagram-caption {
  -webkit-transition: opacity 0ms;
          transition: opacity 0ms;
  opacity: 0;
  position: absolute;
  top: 25vh; }
  .instagram-caption p {
    font-size: 2vw;
    letter-spacing: -0.5px;
    color: yellow;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    margin-bottom: -1em; }
    .instagram-caption p:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px; }
  .instagram-caption strong {
    color: red; }

.life {
  position: absolute;
  width: 375px;
  height: 375px;
  top: 0;
  right: 0;
  z-index: 0;
  background: transparent;
  overflow: hidden; }
  .life:after {
    z-index: 1;
    width: 374px;
    height: 374px;
    left: 1px;
    top: 0px;
    position: absolute;
    content: '';
    display: block;
    background: url("../extras/amoeba2.jpg");
    background-size: cover; }

.life-canvas {
  width: 375px;
  height: 375px;
  position: absolute;
  z-index: 2;
  background: transparent; }

.life-caption {
  color: black;
  font-size: 2vw;
  position: relative;
  z-index: 2; }
