@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
            transform: translate(-0.5%, 0.5%) rotate(-0.25deg); }
  33% {
    -webkit-transform: translate(-1%, 1%) rotate(0.25deg);
            transform: translate(-1%, 1%) rotate(0.25deg); }
  66% {
    -webkit-transform: translate(0%, -1%) rotate(-0.5deg);
            transform: translate(0%, -1%) rotate(-0.5deg); }
  100% {
    -webkit-transform: translate(-0.5%, -1%) rotate(0.5deg);
            transform: translate(-0.5%, -1%) rotate(0.5deg); } }

@keyframes wobble {
  0% {
    -webkit-transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
            transform: translate(-0.5%, 0.5%) rotate(-0.25deg); }
  33% {
    -webkit-transform: translate(-1%, 1%) rotate(0.25deg);
            transform: translate(-1%, 1%) rotate(0.25deg); }
  66% {
    -webkit-transform: translate(0%, -1%) rotate(-0.5deg);
            transform: translate(0%, -1%) rotate(-0.5deg); }
  100% {
    -webkit-transform: translate(-0.5%, -1%) rotate(0.5deg);
            transform: translate(-0.5%, -1%) rotate(0.5deg); } }

@-webkit-keyframes site-wobble {
  0% {
    -webkit-transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
            transform: translate(-0.5%, 0.5%) rotate(-0.25deg); }
  33% {
    -webkit-transform: translate(1%, 1%) rotate(0.25deg);
            transform: translate(1%, 1%) rotate(0.25deg); }
  66% {
    -webkit-transform: translate(0%, -1%) rotate(-0.5deg);
            transform: translate(0%, -1%) rotate(-0.5deg); }
  100% {
    -webkit-transform: translate(0.5%, -1%) rotate(0.5deg);
            transform: translate(0.5%, -1%) rotate(0.5deg); } }

@keyframes site-wobble {
  0% {
    -webkit-transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
            transform: translate(-0.5%, 0.5%) rotate(-0.25deg); }
  33% {
    -webkit-transform: translate(1%, 1%) rotate(0.25deg);
            transform: translate(1%, 1%) rotate(0.25deg); }
  66% {
    -webkit-transform: translate(0%, -1%) rotate(-0.5deg);
            transform: translate(0%, -1%) rotate(-0.5deg); }
  100% {
    -webkit-transform: translate(0.5%, -1%) rotate(0.5deg);
            transform: translate(0.5%, -1%) rotate(0.5deg); } }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  list-style: none; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  background: lightgrey;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%; }
  body.is--framed {
    background: transparent;
    font-family: "ITC Century Std", Helvetica; }

a {
  text-decoration: none;
  color: #000; }

.container {
  min-height: 100%;
  background: #fff;
  -webkit-animation: site-wobble 26.25s cubic-bezier(0, 0, 0.21, 1) infinite alternate;
  animation: site-wobble 26.25s cubic-bezier(0, 0, 0.21, 1) infinite alternate; }

.header {
  margin-bottom: 5px; }
  .is--framed .header {
    display: none; }

.header-title {
  font-size: 4em;
  font-size: 5.5vw;
  letter-spacing: 0.5px; }
  .header-title .deform {
    display: block;
    -webkit-transform: scaleY(1.5) skewX(45deg);
        -ms-transform: scaleY(1.5) skewX(45deg);
            transform: scaleY(1.5) skewX(45deg); }

.footer {
  margin: 3em; }
  @media (min-width: 400px) {
    .footer {
      position: absolute;
      bottom: 1em;
      left: 50px;
      margin: 0; } }
  .footer .footer-text {
    font-family: "ITC Century Std", Helvetica;
    display: inline-block;
    text-transform: none;
    margin-right: .5em; }
  .footer img {
    line-height: 0;
    height: 20px; }

.navigation-item {
  position: relative;
  width: 100%;
  z-index: 2; }

.navigation-item .navigation-link,
.navigation-item .subnavigation-link {
  display: inline-block;
  -webkit-animation: wobble 1.75s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 1.75s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:first-child .navigation-link {
  -webkit-animation: wobble 3.0625s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 3.0625s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:last-child .navigation-link {
  -webkit-animation: wobble 3.9375s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 3.9375s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:nth-child(2n) .navigation-link {
  -webkit-animation: wobble 3.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 3.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:nth-child(3n) .navigation-link {
  -webkit-animation: wobble 4.375s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 4.375s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-item:nth-child(4) .navigation-link {
  -webkit-animation: wobble 2.8875s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wobble 2.8875s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate; }

.navigation-link {
  font-size: 1.2em;
  font-size: 3.75vw;
  margin-left: 3vw;
  line-height: 3; }
  .navigation-link .deform {
    display: inline-block;
    -webkit-transform: scaleY(1.4) skewX(45deg);
        -ms-transform: scaleY(1.4) skewX(45deg);
            transform: scaleY(1.4) skewX(45deg);
    letter-spacing: 1px; }
  @media (min-width: 400px) {
    .navigation-link {
      font-size: 2.5vw;
      line-height: 4vw; } }

.subnavigation {
  display: inline; }

.subnavigation-item {
  display: inline-block;
  font-family: "Snell Roundhand", Zapfino;
  margin-left: 1vw; }

.subnavigation-link {
  font-size: 3vw;
  letter-spacing: 1px; }
  .subnavigation-link .deform {
    display: inline-block;
    -webkit-transform: skewX(45deg) scaleY(1.4);
        -ms-transform: skewX(45deg) scaleY(1.4);
            transform: skewX(45deg) scaleY(1.4); }

.content-text {
  width: 50vh;
  height: 60vh;
  background: black;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 2em;
  font-size: 1.5vw;
  overflow-y: scroll;
  font-family: "ITC Century Std", Helvetica; }
  .content-text a {
    color: white;
    text-decoration: underline; }
  .content-text p, .content-text br {
    margin-bottom: 2em; }

.item {
  width: 30vw;
  height: 40vw;
  float: right;
  overflow: hidden; }
  .item.item--active:before {
    content: '';
    position: fixed;
    left: -5vw;
    top: -5vh;
    width: 100%;
    height: 100%; }

.item-container {
  width: 45vw;
  height: 45vw;
  clip: rect(0 45vw 45vw 0);
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.21, 1);
          transition: all 300ms cubic-bezier(0, 0, 0.21, 1); }
  .item--show .item-container {
    clip: rect(0 100vw 100vh 0) !important; }
  .item--active .item-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1; }

.item-content {
  background: black;
  width: 95vw;
  position: relative; }
  .item-content img {
    height: 90vh;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    margin: 0 auto; }
  .item--show .item-content img {
    position: static; }

.item--text .item-container {
  width: 40vw;
  background: black;
  color: white;
  font-family: "ITC Century Std", Helvetica;
  font-size: 2vw;
  overflow-y: scroll;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.item--text .item-content {
  width: auto; }

.item--text p {
  margin: 1em; }

.carousel {
  position: relative; }

.carousel-image {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  text-align: center; }
  .carousel-image.carousel--active {
    display: block; }

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0; }

.modal-frame {
  width: 100%;
  height: 100%; }

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent; }

.modal-content {
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0, 0, 0, 1);
          transition: transform 350ms cubic-bezier(0, 0, 0, 1);
  overflow-y: scroll; }
  .modal-content.transition-in {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .modal-content.transition-out {
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 1, 0.75);
            transition-timing-function: cubic-bezier(0.5, 0, 1, 0.75); }

.instagram {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 25%; }

.instagram-photo {
  height: 25vh; }

.photo--in .instagram-image {
  -webkit-transform: translateY(25vh);
      -ms-transform: translateY(25vh);
          transform: translateY(25vh); }

.photo--in .instagram-caption {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  opacity: 1; }

.photo--out .instagram-image {
  -webkit-transition-delay: 105.26316ms;
          transition-delay: 105.26316ms;
  -webkit-transform: translateY(105vh);
      -ms-transform: translateY(105vh);
          transform: translateY(105vh); }

.photo--out .instagram-caption {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  opacity: 0; }

.photo--no-transition .instagram-image, .photo--no-transition .instagram-caption {
  -webkit-transition: none;
          transition: none; }

.instagram-image {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.21, 1);
          transition: transform 300ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
          transform: translateY(-100vh); }

.instagram-caption {
  position: absolute;
  top: 25vh;
  font-size: 2.75vw;
  color: yellow;
  /*transform: translateY(-100vh);*/
  -webkit-transition: opacity 0ms;
          transition: opacity 0ms;
  opacity: 0; }

.life {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0; }
