@include keyframes(wobble) {
    0% {
        transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
    }

    33% {
        transform: translate(-1%, 1%) rotate(0.25deg);
    }

    66% {
        transform: translate(0%, -1%) rotate(-0.5deg);
    }

    100% {
        transform: translate(-.5%, -1%) rotate(0.5deg);
    }
}

@include keyframes(site-wobble) {
    0% {
        transform: translate(-0.5%, 0.5%) rotate(-0.25deg);
    }

    33% {
        transform: translate(1%, 1%) rotate(0.25deg);
    }

    66% {
        transform: translate(0%, -1%) rotate(-0.5deg);
    }

    100% {
        transform: translate(.5%, -1%) rotate(0.5deg);
    }
}
