@mixin wobble-animation($duration: 1.5s) {
    @include animation(wobble $duration cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate);
}

@mixin animation($animation) {
    -ms-animation: $animation;
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}
