$main-font: Helvetica, Arial, sans-serif;
$highlight-font: 'Snell Roundhand', Zapfino;
$secondary-font: 'ITC Century Std', Helvetica;

$base-unit: 10px;

$text-colour: #000;
$background-colour: #fff;

$bp-mobile: 400px;

/*$animation-material-timing: cubic-bezier(0.5, 0, 1, 0.75);*/
$animation-material-timing: cubic-bezier(0, 0, 0.21, 1);
