$main-font: Helvetica, Arial, sans-serif;
$highlight-font: 'Snell Roundhand', Zapfino;
$secondary-font: 'ITC Century Std', Helvetica;

$base-unit: 10px;

$text-colour: #000;
$background-colour: #fff;
$colour-background: #fff;
$colour-text: #000;

$bp-mobile: 480px;

$animation-material-timing: cubic-bezier(0, 0, 0.21, 1);
$animation-duration: 2.5s;
