* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    list-style: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background: lightgrey;
    font-family: $main-font;
    height: 100%;

    &.is--framed {
        background: transparent;
        font-family: $secondary-font;
    }
}

a {
    text-decoration: none;
    color: $text-colour;
}

.container {
    min-height: 100%;
    background: #fff;
    @include animation(site-wobble (15 * $animation-duration) 
                       $animation-material-timing
                       infinite alternate);
}
