.footer {
    padding: 3em 1em 1em 1em;

    @media (min-width: $bp-mobile) {
        margin: 0;
    }

    .footer-text {
        font-family: $secondary-font;
        display: inline-block;
        text-transform: none;
        margin-right: .5em;
    }

    .social {
        margin-bottom: 1em;
        overflow: hidden;
    }

    .social-link {
        float: left;
        font-family: $secondary-font;
        font-size: 1.5vw;
        margin-right: 1em;
        &:hover {
            color: red;
        }
    }

    img {
        line-height: 0;
        max-height: 100px;
        max-width: 100%;
    }
}
