.header {
    margin-bottom: 5px;

    .is--framed & {
        display: none;
    }
}

.header-title {
    font-size: 4em;
    font-size: 5.5vw;
    letter-spacing: 0.5px;

    .deform {
        display: block;
        transform: scaleY(1.5) skewX(45deg);
    }
}
