.social-items {

}

.social-item {
    width: 20%;
    float: right;
    margin: 0 10px 10px 0;
    overflow: hidden;

    iframe {
        max-width: 100% !important;
        width: 100%;
        min-width: 100% !important;
        box-shadow: none !important;
        box-sizing: border-box;
    }
}

.social-item--instagram {
    position: relative;

    .social-item-text {
        position: absolute;
        bottom: 0;
    }
}

.social-item-image {
    line-height: 0;

    img {
        width: 100%;
    }
}

.social-item-text {
    font-size: 2vw;
    letter-spacing: -0.5px;
    color: yellow;
    text-align: justify;
    text-align-last: justify;
    margin-bottom: -1em;
    word-wrap: break-word;

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
    }
}

.instagram {
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 25%;
    pointer-events: none;
}

.instagram-photo {
    height: 25vh;
}

.photo--in {
    .instagram-image {
        transform: translateY(25vh);
    }
    .instagram-caption {
        transition-delay: (300ms/2);
        opacity: 1;
    }

}

.photo--out {
    .instagram-image {
        transition-delay: (300ms/2.85);
        transform: translateY(155vh);
    }

    .instagram-caption {
        transition-delay: (300ms/2);
        opacity: 0;
    }
}

.photo--no-transition {
    .instagram-image, .instagram-caption {
        transition: none;
    }
}

.instagram-image {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    transition: transform 300ms $animation-material-timing;
    transform: translateY(-100vh);
}

.instagram-caption {
    transition: opacity 0ms;
    opacity: 0;
    position: absolute;
    top: 25vh;

    p {
        font-size: 2vw;
        letter-spacing: -0.5px;
        color: yellow;
        text-align: justify;
        text-align-last: justify;
        margin-bottom: -1em;
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 1px;
        }
    }

    strong {
        color: red;
    }


}
