$item-width: 30vw;
$item-height: 40vw;

.item {
    margin-top: 2em;

    @media(min-width: $bp-mobile) {
        margin-top: 0;
        width: $item-width;
        height: $item-height;
        float: right;
        overflow: hidden;

        &.item--active {
            &:before {
                content: '';
                position: fixed;
                left: -5vw;
                top: -5vh;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.item-container {
    @media(min-width: $bp-mobile) {
        width: $item-width * 1.5;
        height: $item-width * 1.5;
        transition: all 300ms $animation-material-timing;
        clip: rect(0 $item-width * 1.5 $item-width * 1.5 0);

        .item--show & {
            clip: rect(0 100vw 100vh 0) !important;
        }

        .item--active & {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
}

.item-content {
    img {
        display: block;
        width: 100%;
        margin: 2em auto 0 auto;
    }

    @media(min-width: $bp-mobile) {
        background: black;
        width: 95vw;
        position: relative;

        img {
            width: auto;
            margin: 0 auto;
            height: 90vh;
            position: absolute;
            left: 0;
            top: 0;
        }

        .item--show & {
            img {
                position: static;
            }
        }
    }
}

.item--video {
    iframe {
        position: relative;
        z-index: 0;
        width: 100%;
    }

    @media(min-width: $bp-mobile) {
        .item-container {
            position: absolute;

            &:after {
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
            }
        }

        iframe {
            position: relative;
            z-index: 0;
            width: 90vw;
            height: 90vh;
        }

        &.item--active {
            .item-container:after {
                content: none;
            }
        }

    }
}

.item--text {
    .item-container{ 
        background: black;
        color: white;
        font-family: $secondary-font;
        font-size: 6vw;
        overflow-y: scroll;

        @media(min-width: $bp-mobile) {
            width: 40vw;
            font-size: 2vw;
            p {
                transform: translateZ(0);
            }
        }
    }

    .item-content {
        width: auto;
    }

    p {
        margin: 1em;
    }
}

.carousel {
    position: relative;
}

.carousel-image {
    @media (min-width: $bp-mobile) {
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        text-align: center;

        &.carousel--active {
            display: block;
        }
    }
}
