$item-width: 30vw;
$item-height: 40vw;

.items {
    @media(min-width: $bp-mobile) {
        width: 90vw;
        height: 90vh;
        margin: 5vh 5vw;
        overflow: hidden;
    }
}

.item {
    @media(max-width: $bp-mobile) {
        margin-top: 2em;
    }
}

.item-content {
    img {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 2em auto 0 auto;
    }

    @media(min-width: $bp-mobile) {
        background: black;
        width: 100%;
        margin: 0 auto;

        img {
            width: auto;
            height: 90vh;
            margin-top: 0;
        }

        .item--show & {
            img {
                position: static;
            }
        }
    }
}

.item--audio {
    .item-content {
        text-align: center;
        height: 90vh;
        line-height: 90vh;
        background: black;
        position: relative;
    }

    .item-caption {
        line-height: 1;
        margin-bottom: 1vw;
    }
}

.item--video {
    iframe {
        position: relative;
        z-index: 0;
        width: 100%;
    }

    @media(min-width: $bp-mobile) {
        .item-container {
            position: absolute;
        }

        iframe {
            position: relative;
            z-index: 0;
            width: 90vw;
            height: 90vh;
        }

        &.item--active {
            .item-container:after {
                content: none;
            }
        }

    }
}

.item--text {
    .item-container{ 
        background: black;
        color: white;
        font-family: $secondary-font;
        font-size: 6vw;

        @media(min-width: $bp-mobile) {
            width: 40vw;
            font-size: 2vw;
            overflow: hidden;

            p {
                transform: translateZ(0);
            }
        }
    }

    .item-content {
        width: auto;
        height: 100%;

        @media(min-width: $bp-mobile) {
            overflow-y: scroll;
        }
    }

    p {
        margin: 1em;
    }
}

.item-caption {
    font-size: 2vw;
    letter-spacing: -0.5px;
    color: yellow;
    position: absolute;
    bottom: 0;
    text-align: justify;
    text-align-last: justify;

    strong {
        color: red;
    }

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
    }
}

.carousel {
    position: relative;
}

.carousel-image {
    position: relative;

    @media (min-width: $bp-mobile) {
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        text-align: center;

        &.carousel--active {
            display: table;
        }
    }
}
