.life {
    position: absolute;
    width: 375px;
    height: 375px;
    top: 0;
    right: 0;
    z-index: 0;
    background: transparent;
    overflow: hidden;

    &:after {
        z-index: 1;
        width: 374px;
        height: 374px;
        left: 1px;
        top: 0px;
        position: absolute;
        content: '';
        display: block;
        background: url('../extras/amoeba2.jpg');
        background-size: cover;
    }
}

.life-canvas {
    width: 375px ;
    height: 375px;
    position: absolute;
    z-index: 2;
    background: transparent;
}

.life-caption {
    color: black;
    font-size: 2vw;
    position: relative;
    z-index: 2;
}
