.life {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    right: 0;
    z-index: 0;
    background: transparent;
    overflow: hidden;

    &:after {
        z-index: 1;
        width: 500px;
        height: 500px;
        left: 0;
        top: 0;
        position: absolute;
        content: '';
        display: block;
        background: url('../extras/amoeba.jpg');
        background-size: cover;
    }
}

.life-canvas {
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 2;
    background: transparent;


}
