.navigation {
    padding-bottom: 10em;

    a:hover {
        color: red;
    }
}

.navigation-item {
    position: relative;
    display: table;
    z-index: 2;
    white-space: nowrap;
}

// wobble animation setup
.navigation-item {
    .navigation-link,
    .subnavigation-link {
        display: inline-block;
        @include wobble-animation(1);
    }

    &:first-child .navigation-link {
        @include wobble-animation(1.75);
    }

    &:last-child .navigation-link {
        @include wobble-animation(2.25);
    }

    &:nth-child(2n) .navigation-link {
        @include wobble-animation(2);
    }

    &:nth-child(3n) .navigation-link {
        @include wobble-animation(2.5);
    }

    &:nth-child(4) .navigation-link {
        @include wobble-animation(1.65);
    }
}

.navigation-link {
    font-size: 1.2em;
    font-size: 3.75vw;
    margin-left: 3vw;
    line-height: 3;

    .deform {
        display: inline-block;
        transform: scaleY(1.4) skewX(45deg);
        letter-spacing: 1px;
    }

    @media (min-width: $bp-mobile) {
        font-size: 2.5vw;
        line-height: 4vw;
    }
}

.subnavigation {
    display: inline;

    .navigation-item--exhibition & {
        display: block;
        max-height: 2.5*11vw;
        transition: max-height 400ms $animation-material-timing;
        overflow: hidden;
    }

    .navigation-item--closed & {
        max-height: 0;
    }
}

.subnavigation-item {
    display: inline-block;
    font-family: $highlight-font;
    margin-left: 1vw;

    .navigation-item--exhibition & {
        display: block;
        margin-left: 15vw;
        font-family: $main-font;
    }
}

.subnavigation-link {
    font-size: 3vw;
    letter-spacing: 1px;

    .deform {
        display: inline-block;
    }

    .navigation-item--exhibition & {
        font-size: 2.5vw;
        padding-bottom: .75vw;
        .deform {
            transform: scaleY(1.4) skewX(45deg);
        }
    }

}
