.navigation-item {
    position: relative;
    display: table;
    z-index: 2;
    white-space: nowrap;
}

// wobble animation setup
.navigation-item {
    .navigation-link,
    .subnavigation-link {
        display: inline-block;
        @include wobble-animation(1);
    }

    &:first-child .navigation-link {
        @include wobble-animation(1.75);
    }

    &:last-child .navigation-link {
        @include wobble-animation(2.25);
    }

    &:nth-child(2n) .navigation-link {
        @include wobble-animation(2);
    }

    &:nth-child(3n) .navigation-link {
        @include wobble-animation(2.5);
    }

    &:nth-child(4) .navigation-link {
        @include wobble-animation(1.65);
    }
}

.navigation-link {
    font-size: 1.2em;
    font-size: 3.75vw;
    margin-left: 3vw;
    line-height: 3;

    .deform {
        display: inline-block;
        transform: scaleY(1.4) skewX(45deg);
        letter-spacing: 1px;
    }

    @media (min-width: $bp-mobile) {
        font-size: 2.5vw;
        line-height: 4vw;
    }
}

.navigation-item--01-abstraction {
    @media (max-width: $bp-mobile) {
        .navigation-link {
            font-size: 3.6vw;
        }
    }
}

.subnavigation {
    display: inline;
}

.subnavigation-item {
    display: inline-block;
    font-family: $highlight-font;
    margin-left: 1vw;
}

.subnavigation-link {
    font-size: 3vw;
    letter-spacing: 1px;

    .deform {
        display: inline-block;
        transform: skewX(45deg) scaleY(1.4);
    }
}
