.navigation-item {
    position: relative;
    width: 100%;

    &:before {
        content: counter(num);
        counter-increment: num;
        font-family: $highlight-font;
        font-size: 2.2em;
        min-width: 1em;
        display: inline-block;
        transform: skew(-45deg/2);
        position: absolute;
        left: 8px;
        margin-top: 4px;
    }

    @media (min-width: 400px) {
        &:before {
            left: 50px;
            margin-top: -2px;
        }
    }
}


// wobble animation setup
.navigation-item {
    .navigation-link {
        display: inline-block;
        @include wobble-animation;
    }

    &:first-child .navigation-link {
        @include wobble-animation(1.75s);
    }

    &:last-child .navigation-link {
        @include wobble-animation(2.25s);
    }

    &:nth-child(2n) .navigation-link {
        @include wobble-animation(2s);
    }

    &:nth-child(3n) .navigation-link {
        @include wobble-animation(2.5s);
    }

    &:nth-child(4) .navigation-link {
        @include wobble-animation(1.65s);
    }
}

.navigation-link {
    font-size: 1.2em;
    text-transform: capitalize;
    margin-left: 35px;
    line-height: 3;

    .deform {
        display: inline-block;
        transform: scaleY(1.4) skewX(-43deg);
        letter-spacing: 1px;
    }

    @media (min-width: 400px) {
        font-size: 1.6em;
        margin-left: 145px;
        line-height: 1.5;
    }
}

.navigation-subpages {
    display: none;
    counter-reset: subnum;

    &.navigation-subpages--show {
        display: block;
        margin: 1em 0 2em;
    }
}

.navigation-item--artists .navigation-subpages--show {
    margin-top: 2.5em;
}

.navigation-subpage-item {
    &:before {
        content: counter(num) ' .' counter(subnum);
        counter-increment: subnum;
        font-family: $highlight-font;
        font-size: 3.2em;
        display: inline-block;
        transform: skew(-45deg/2);
        left: 8px;
        margin-top: -4px;
        position: absolute;
    }

    .navigation-item--artists &:before {
        content: '';
    }

    @media (min-width: 400px) {
        &:before {
            left: 142px;
            margin-top: -4px;
        }
    }
}

.navigation-subpage-link {
    font-size: 3em;
    letter-spacing: 2px;
    max-width: 60%;
    padding-left: 20%;
    display: inline-block;
    line-height: 1;

    .deform {
        transform: scaleX(.7) skewX(-45deg);
        display: inline-block;
    }

    .navigation-item--artists & {
        transform: translateX(-10%) scaleX(.7) skewX(45deg);
        padding: 0;
    }
}

.navigation-list {
    max-width: 900px;
    counter-reset: num;
}
