.content-text {
    bottom: 0;
    font-size: 5vw;
    padding: 1em;
    font-family: $secondary-font;

    a {
        text-decoration: underline;
    }

    p, br {
        transform: translateZ(0);
        margin-bottom: 2em;
    }


    @media(min-width: $bp-mobile) {
        width: 50vh;
        height: 60vh;
        color: white;
        background: black;
        position: absolute;
        font-size: 1.5vw;
        overflow-y: scroll;
        padding: 2em;

        a {
            color: white;
        }
    }
}
